In [1]:
import pandas as pd
input_path_descr = '/Users/thebekhruz/Desktop/100Days-Of-Code/100-Days-of-NLP-Odyssey/data/intermediate/preprocessing/un_lemmatised/processed_data_descr_no_lemma.csv'
input_path_tile = '/Users/thebekhruz/Desktop/100Days-Of-Code/100-Days-of-NLP-Odyssey/data/intermediate/preprocessing/un_lemmatised/processed_data_title_no_lemma.csv'

In [2]:
df_descr = pd.read_csv(input_path_descr, delimiter='\t', header=None, names=['doc_id', 'type', 'value'])
df_title = pd.read_csv(input_path_tile, delimiter='\t', header=None, names=['doc_id', 'type', 'value'])

df_title.head()

,doc_id,type,value
0,a7bb9917-95ff-3f55-a640-4c5afcec25f2,title,view southeast junction queen victoria road hi...
1,c29a7b77-7c46-3b85-88fe-05c8f4b2e384,title,page bucks free press time capsule clock house...
2,196c11e6-f7b6-392f-ae41-28653345087c,title,high wycombe police station queen victoria roa...
3,7a5aace6-2398-3dcf-8843-37ff6ccea875,title,reference library door queen victoria road hig...
4,c66c4715-c03a-3aab-964b-e733f3ff1cf4,title,terrace brick flint cottages beech road wycomb...

In [3]:
combined_df = pd.merge(df_title, df_descr, on='doc_id', suffixes=('_title', '_description'))
# combined_df.head()

# Concatenate the title and description values
combined_df['combined_value'] = combined_df['value_title'] +  ". " + combined_df['value_description']
combined_df.head()

,doc_id,type_title,value_title,type_description,value_description,combined_value
0,a7bb9917-95ff-3f55-a640-4c5afcec25f2,title,view southeast junction queen victoria road hi...,description,east corner queen victoria road junction easto...,view southeast junction queen victoria road hi...
1,c29a7b77-7c46-3b85-88fe-05c8f4b2e384,title,page bucks free press time capsule clock house...,description,page bucks free press time capsule 7th july 18...,page bucks free press time capsule clock house...
2,196c11e6-f7b6-392f-ae41-28653345087c,title,high wycombe police station queen victoria roa...,description,new police station high wycombe viewed opposit...,high wycombe police station queen victoria roa...
3,7a5aace6-2398-3dcf-8843-37ff6ccea875,title,reference library door queen victoria road hig...,description,corridor entrance reference library,reference library door queen victoria road hig...
4,c66c4715-c03a-3aab-964b-e733f3ff1cf4,title,terrace brick flint cottages beech road wycomb...,description,terrace brick flint cottages,terrace brick flint cottages beech road wycomb...

In [4]:
columns_to_drop = ['type_title', 'value_title', 'type_description', 'value_description']
combined_df.drop(columns_to_drop, axis=1, inplace=True)

In [5]:
combined_df.head()

,doc_id,combined_value
0,a7bb9917-95ff-3f55-a640-4c5afcec25f2,view southeast junction queen victoria road hi...
1,c29a7b77-7c46-3b85-88fe-05c8f4b2e384,page bucks free press time capsule clock house...
2,196c11e6-f7b6-392f-ae41-28653345087c,high wycombe police station queen victoria roa...
3,7a5aace6-2398-3dcf-8843-37ff6ccea875,reference library door queen victoria road hig...
4,c66c4715-c03a-3aab-964b-e733f3ff1cf4,terrace brick flint cottages beech road wycomb...

In [6]:
output_file_path = '/Users/thebekhruz/Desktop/100Days-Of-Code/100-Days-of-NLP-Odyssey/data/intermediate/preprocessing/combined_df_for_lda.csv'
combined_df.to_csv(output_file_path, sep='\t', index=False, header=None)